@model PLEXEDC.WEB.UI.Models.CustomerAccountViewModel

<div class="modal fade" role="dialog" id="stockListingModal" aria-labelledby="labelStockListing" aria-hidden="true" tabindex="-1" style="color:black; overflow:auto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="labelStockListing">
                    Port folio
                </h4>
            </div>
            <div class="modal-body" style="overflow:auto;">

                <div class="row">
                    <table class="table">
                        <thead>
                            <tr style="white-space:nowrap">
                                <th>Symbol</th>
                                <th>Quantity</th>
                                <th>Most Recent Price</th>
                                <th>Market Value</th>
                                <th>CostBasis</th>
                                <th>Change</th>
                                <th>Change Since Purchase</th>
                            </tr>
                        </thead>
                        <tbody style="overflow:auto">
                            @if (Model.StockListing != null)
                            {
                                foreach (var tr in Model.StockListing)
                                {
                                    <tr>
                                        <td>@tr.Symbol</td>
                                        <td>@tr.Qty</td>
                                        <td>@tr.MostRecentPrice</td>
                                        <td>@tr.MktValue</td>
                                        <td>@tr.CostBasis</td>
                                        <td>@tr.Chg</td>
                                        <td>@tr.ChgSincePurchase</td>
                                    </tr>
                                }
                            }

                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
