@model PLEXEDC.WEB.UI.Models.ServiceRequestViewModel

@{
    ViewBag.Title = "";
}

<div class="row">
    <div class="col-md-12">
        <h4>Service Requests</h4>
        <div class="panel panel-default">
            <!-- Progress table -->
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr>
                            <th width="20">
                                <div class="checkbox checkbox-single margin-none">
                                    <input id="checkAll" data-toggle="check-all" data-target="#responsive-table-body" type="checkbox" checked>
                                    <label for="checkAll">Check All</label>
                                </div>
                            </th>

                            <th>Description</th>
                            <th>Area</th>
                            <th>ContactId</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>SubArea</th>
                        </tr>
                    </thead>
                    <tbody id="responsive-table-body">

                        @foreach (var sr in Model.ServiceRequests)
                        {
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-single">
                                        <input id="checkbox1" type="checkbox" checked>
                                        <label for="checkbox1">Label</label>
                                    </div>
                                </td>
                                <td>
                                    @sr.Description
                                </td>
                                <td>
                                    @sr.Area
                                </td>
                                <td>
                                    @sr.ContactId
                                </td>
                                <td>@sr.Status</td>
                                <td>@sr.Type</td>
                                <td>@sr.SubArea</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
            <!-- // Progress table -->
            <div class="panel-footer padding-none text-center">
                @*@Html.Partial("_Paginator")*@
            </div>
        </div>
    </div>
</div>
